<div class="wrapper-home-service animation-tran service-section">
    <div class="container-fluid">
        


<!-- Footer -->
<div class="footer">
    <div class="container">
        <!-- Cột 1 -->
        <div class="column">
            <h5>Thương hiệu & Hệ thống cửa hàng</h5>
            <ul>
                <li><a href="#">Về thương hiệu Việt Anh Otaku</a></li>
                <li><a href="#">Hệ thống cửa hàng</a></li>
                <li><a href="#">Tuyển dụng</a></li>
            </ul>
            <h6>Công ty cổ phần Otaku</h6>
            <p>Hotline: 0973 285 886</p>
            <p>Email: TungOtaku.vn@gmail.com</p>
            <p>GPKD: 0107756568</p>
        </div>

        <!-- Cột 2 -->
        <div class="column">
            <h5>Chính sách khách hàng</h5>
            <ul>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Chính sách vận chuyển</a></li>
            </ul>
            <h5>Dịch vụ khách hàng</h5>
            <ul>
                <li><a href="#">Hướng dẫn đặt hàng</a></li>
                <li><a href="#">Liên hệ chúng tôi</a></li>
            </ul>
        </div>

        <!-- Cột 3 -->
        <div class="column">
            <h5>Kết nối với Việt Anh</h5>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-shopify"></i></a>
                <a href="#"><i class="fab fa-zalo"></i></a>
            </div>
            <h5>Đăng ký nhận tin từ Việt Anh</h5>
            <div class="newsletter">
                <input type="text" class="form-control" placeholder="Nhập SĐT của bạn">
                <button class="btn btn-dark">ĐĂNG KÝ</button>
            </div>
        </div>

        <!-- Cột 4 -->
        <div class="column">
            <h5 class="qr">Mọi ý kiến đóng góp xin gửi về</h5>
            <div class="payment-icons">
                {{!-- <img src="https://360.com.vn/wp-content/uploads/2022/06/pay.svg" alt="Pay"> --}}
                    <a class="qr" >
                        <img fetchpriority="high" width="150" height="300" alt="Logo" src="/img/qr.jpg">
                    </a>
            </div>
        </div>
    </div>
</div>