<style>

  .custom-tab {
    margin-left: 80px;
    margin-right: 80px;
  }

  .custom-tab .nav-link {
    color: white !important;

  }

  .custom-tab .nav-link.active {
  color: white !important;
  background-color: #21252900;
  border: 1px solid white; /* viền trắng khi active */
  border-bottom: none; /* nếu muốn không có viền dưới khi tab đang được chọn */
}

  /* Khi hover vào .dropdown, dropdown-menu sẽ hiện ra */
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0; /* bỏ khoảng cách mặc định nếu có */
  opacity: 1;
  visibility: visible;
}

/* Ẩn dropdown-menu mặc định */
.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.dropdown-menu a {
  color: black !important;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa; /* màu nền khi hover, bạn có thể đổi nếu muốn */
  color: rgb(255, 255, 255) !important;
}



</style>

<nav>
  <div class="nav nav-tabs custom-tab" id="nav-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/average-card">
        MLL
      </a>
    
    </li>
    
    <li class="nav-item ">
      <a class="nav-link " >
        AC
      </a>
      
    </li>

    <li class="nav-item ">
      <a class="nav-link" >
        MFD
      </a>
      
    </li>

    <li class="nav-item ">
      <a class="nav-link" >
        Truyền dẫn
      </a>
      
    </li>

  </div>
</nav>




<script>
  document.querySelectorAll(".custom-tab .nav-link").forEach(link => {
    link.addEventListener("click", function () {
      // Xóa class active khỏi tất cả tab
      document.querySelectorAll(".custom-tab .nav-link").forEach(l => l.classList.remove("active"));

      // Thêm class active cho tab được click
      this.classList.add("active");
    });
  });
</script>
<script>
  // Nếu URL hiện tại là chính xác "/dashboard", thì chuyển hướng
  if (window.location.pathname === "/dashboard") {
    window.location.href = "/dashboard/average-card";
  }
</script>