<style>
  .custom-tab {
    margin-left: 80px;
    margin-right: 80px;
  }

  .custom-tab .nav-link {
    color: #004275 !important;;
    text-decoration: none; /* Bỏ gạch chân mặc định */

    transition: border-color 0.2s;
    font-size: 20px;
  }

  .nav-tabs{
    --bs-nav-tabs-border-color:#004275

  }

  .custom-tab .nav-link:focus {
    border-bottom: 2px solid #004275; /* Gạch chân màu xanh đậm */
  }


  .custom-tab .nav-link.active {
    color:  #ffffff !important;
    background-color: #004275;
    border: 1px solid #004275; /* viền trắng khi active */
    font-weight: 600;
    position: relative;
  }

  .custom-tab .nav-link:hover {
    border-color: #004275;     /* Viền khi hover */
    color: #004275 !important; /* Màu chữ khi hover */
}



</style>


<nav>
  <ul class="nav nav-tabs custom-tab" id="nav-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/average-card">MLL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/average-card-ac">AC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/average-card-mfd">MFD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/average-card-td">Truyền dẫn</a>
    </li>
  </ul>
</nav>





<script>
  const links = document.querySelectorAll('.nav-link');
  const currentPath = window.location.pathname;

  links.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active');
    } else {
      link.classList.remove('active');
    }
  });
</script>

<script>
  // Nếu URL hiện tại là chính xác "/dashboard", thì chuyển hướng
  if (window.location.pathname === "/dashboard") {
    window.location.href = "/dashboard/average-card";
  }
</script>