{{!-- <div class="col-md-12 col-xs-12">
    <div class="row">
        <section class="section-blog clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bg-blog-title box-line">
                    <h1 class="tp_title">LIÊN HỆ</h1>
                </div>
                <div class="news-list-style">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/dia-chi-n147825.html" title="ĐỊA CHỈ">
                                        <img loading="lazy" alt="ĐỊA CHỈ" src="" data-img="">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/dia-chi-n147825.html">
                                        <h4 class="news-title tp_title">
                                            ĐỊA CHỈ </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>04/10/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/dia-chi-n147825.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        THÔNG TIN LIÊN HỆ </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/chinh-sach-kiem-hang-n147017.html" title="Chính sách kiểm hàng">
                                        <img loading="lazy" alt="Chính sách kiểm hàng"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_9yVPJKpZ.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_9yVPJKpZ.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/chinh-sach-kiem-hang-n147017.html">
                                        <h4 class="news-title tp_title">
                                            Chính sách kiểm hàng </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/chinh-sach-kiem-hang-n147017.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Chính sách kiểm hàng </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/chinh-sach-khieu-nai-n147016.html" title="Chính sách khiếu nại">
                                        <img loading="lazy" alt="Chính sách khiếu nại"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_wSvPyRSB.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_wSvPyRSB.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/chinh-sach-khieu-nai-n147016.html">
                                        <h4 class="news-title tp_title">
                                            Chính sách khiếu nại </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/chinh-sach-khieu-nai-n147016.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Chính sách xử lý khiếu nại </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/chinh-sach-bao-mat-n147015.html" title="Chính sách bảo mật">
                                        <img loading="lazy" alt="Chính sách bảo mật"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_XfpzgazC.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_XfpzgazC.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/chinh-sach-bao-mat-n147015.html">
                                        <h4 class="news-title tp_title">
                                            Chính sách bảo mật </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/chinh-sach-bao-mat-n147015.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Chính sách bảo mật </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/hinh-thuc-thanh-toan-n147014.html" title="Hình thức thanh toán">
                                        <img loading="lazy" alt="Hình thức thanh toán"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_ttthvnct.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_ttthvnct.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/hinh-thuc-thanh-toan-n147014.html">
                                        <h4 class="news-title tp_title">
                                            Hình thức thanh toán </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/hinh-thuc-thanh-toan-n147014.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Hình thức thanh toán </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/chinh-sach-doi-tra-hang-n147013.html" title="Chính sách đổi trả hàng">
                                        <img loading="lazy" alt="Chính sách đổi trả hàng"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_uUFWkuwR.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_uUFWkuwR.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/chinh-sach-doi-tra-hang-n147013.html">
                                        <h4 class="news-title tp_title">
                                            Chính sách đổi trả hàng </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/chinh-sach-doi-tra-hang-n147013.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Chính sách đổi trả hàng </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/chinh-sach-giao-hang-n147012.html" title="Chính sách giao hàng">
                                        <img loading="lazy" alt="Chính sách giao hàng"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_6v5L4CMC.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_6v5L4CMC.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/chinh-sach-giao-hang-n147012.html">
                                        <h4 class="news-title tp_title">
                                            Chính sách giao hàng </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/chinh-sach-giao-hang-n147012.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Chính sách giao hàng </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/chinh-sach-thanh-vien-n147011.html" title="Chính sách thành viên">
                                        <img loading="lazy" alt="Chính sách thành viên"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_lY9yhu4S.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_lY9yhu4S.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/chinh-sach-thanh-vien-n147011.html">
                                        <h4 class="news-title tp_title">
                                            Chính sách thành viên </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>16/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/chinh-sach-thanh-vien-n147011.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Chính sách thành viên </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="news-item clearfix">
                                <div class="news-img">
                                    <a href="/cach-thuc-dat-hang-n146979.html" title="Cách thức đặt hàng">
                                        <img loading="lazy" alt="Cách thức đặt hàng"
                                            src="https://pos.nvncdn.com/e41e16-5527/art/20240916_kfzoIefV.png"
                                            data-img="https://pos.nvncdn.com/e41e16-5527/art/20240916_kfzoIefV.png">
                                    </a>
                                </div>
                                <div class="news-detail">
                                    <a href="/cach-thuc-dat-hang-n146979.html">
                                        <h4 class="news-title tp_title">
                                            Cách thức đặt hàng </h4>
                                    </a>
                                    <div class="news-meta">
                                        <ul>
                                            <li><time>14/09/2024</time></li>
                                            <li>
                                                <div class="fb-like" data-href="/cach-thuc-dat-hang-n146979.html"
                                                    data-layout="button_count" data-action="like"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="news-content">
                                        Cách thức đặt hàng </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pagination" class="clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="paginator"><span class="labelPages">1 - 9 / 9</span><span
                                    class="titlePages">&nbsp;&nbsp;Trang: </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div> --}}


<div class="topbar">
        <div class="woostify-container">
            <div class="topbar-item topbar-left"></div>
            <div class="topbar-item topbar-center"> 💻Developed by Việt Anh – IT Team , 2025</div>
            <div class="topbar-item topbar-right"></div>
        </div>
    </div>