<div id="home-slider" class="tp_banner_main">
    <div id="homepage_slider" class="owl-carousel owl-theme">
        <div class="item">
            <a href="javascript:void(0);">
                <img src="https://theme.hstatic.net/200000838897/1001313362/14/slide_1_img.jpg?v=60" alt="Slide 1">
            </a>
        </div>
        <div class="item">
            <a href="javascript:void(0);">
                <img src="https://theme.hstatic.net/200000838897/1001313362/14/slide_2_img.jpg?v=60" alt="Slide 2">
            </a>
        </div>
        <div class="item">
            <a href="javascript:void(0);">
                <img src="https://theme.hstatic.net/200000838897/1001313362/14/categorybanner_2_img.jpg?v=60"
                    alt="Slide 3">
            </a>
        </div>
    </div>
</div>

